* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background-color: white;
}
#hero {
  background-image: url(./Images2/herooo.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  min-height: 75vh;
}
.blur {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  min-height: inherit;
  /* background-color: rgba(0, 0, 0, 0.6); */
  backdrop-filter: blur(1.5px);
}
.hero-text {
  text-align: center;
  text-decoration: none;
  color: rgb(20, 8, 8);
  padding-bottom: 2rem;
}
a {
  text-decoration: none;
  color: black;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style-type: none;
  gap: 3em;
}
.button {
  background-color: rgb(59, 54, 54);
  border-style: hidden;
}
.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 40px;
}
.social-icons a {
  color: black;
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: #0077ff;
}
